<h1>Campions</h1>

<ul>
  <% @champions.each do |champion| %>
    <li>
      <%= link_to champion.name, champion_path(champion) %>: <%= champion.description%>
      <%= link_to 'Editar', edit_champion_path(champion) %>
      <%= link_to 'Esborrar', champion_path(champion), :method => :delete, :confirm => 'Estas segur?' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Crear un nou campio', new_champion_path %>
